[DB]
dbhost = 127.0.0.1
dbport = 3306
dbuser = user
dbpass = pass
ubxdb = raw_l1_gps_db
solutionsdb = db_for_solutions
[FTPNAV]
ftpserver = cddis.gsfc.nasa.gov
localnavroot = C:\GNSS_DATA\data
minnavsize = 260000
[STATIONS]
numberofstations = 3
station1name = hw50_430
station2name = hw50_90
basestation = hw50_base
baselocation = 30.00000 -120.00000 0.00000
[RTK]
rtkoptions = -p 3 -u -c -m 15 -a -l
[OTHER]
processtimeout  = 300
dayspast = 1
